<div class="container d-flex justify-content-center pt-3">
<div class="jumbotron mt-0 p-3">
  <h1>О проекте</h1>
  <hr class="my-4">
  <p class="lead">
    Основная цель данного проекта - предоставить всем желающим удобный ненавязчивый инструмент для отслеживания изменения цен на товары в каталоге портала <a href="https://www.onliner.by">onliner.by</a>
  </p>
  <p class="lead">
    С помощью сервиса вы сможете:
  </p>
  <ul class="lead">
    <li>Создать собственный список товаров для отслеживания цен на них</li>
    <li>Проанализировать динамику цен на выбранные товары</li>
    <li>Своевременно принять решение о покупке товара</li>
  </ul>
  <div class="container text-center mt-4">
    <button mat-flat-button color="primary" [routerLink]="['/register']">Попробовать</button>
  </div>
</div>
</div>
